.avantaj{
    width: 340px;
    height: 160px;

    background: #FFFFFF;
    border: 3px solid #031D1E;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgb(3, 29, 30, 0.25);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: #031D1E;
    transition: 300ms;
}

.avantaj:hover{
    background-color: #031D1E;
    color: white;
    transition: 300ms;

    box-shadow: 0px 10px 10px rgb(3, 29, 30, 0.40);
}

.avantajImg{
    position: relative;
    height: 100px;
    width: 100px;
    margin-left: 14px;
}

.avantajTextWrapper{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-right: 10px;
}

.avantajText{
    width: 100%;
    text-align: left;

    font-family: Futura PT custom Mediu;
    /* color: #031D1E; */
    font-size: 26px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 1080px){
    .avantaj{
        width: 100%;
        height: 74px;
        margin-bottom: 6px;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .avantajImg{
        height: 65px;
        width: 65px;

        margin-left: 40px;
    }
    
    .avantajTextWrapper{
        width: 100%;
        padding-left: 35px;
    }
    
    .avantajText{
        width: 100%;
        text-align: left;
    
        font-family: Futura PT custom Mediu;
        font-size: 20px;
        line-height: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 528px){
    .avantaj{
        width: 100%;
        height: 85px;
        margin-bottom: 6px;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .avantajImg{
        height: 65px;
        width: 65px;

        margin-left: 20px;
    }
    
    .avantajTextWrapper{
        width: 100%;
        padding-left: 40px;
    }
    
    .avantajText{
        width: 100%;
        text-align: left;
    
        font-family: Futura PT custom Mediu;
        font-size: 20px;
        line-height: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}