.heroPageWrapper{
    height: 100vh;
    width: 100%;

    overflow: hidden;
}

.background1{
    background-image: url("../../public/mainPage/background1.png");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 300ms;
}

.background2{
    background-image: url("../../public/catalog/backgroundParchetBradut.png");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 300ms;
}

.background3{
    background-image: url("../../public/proiecte/porteryard.jpg");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 300ms;
}

.heroPageSection{
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heroPageContainer{
    width: 1080px;
    /* width: 940px; */
}

.h1{
    width: 540px;

    font-family: Futura PT custom Demi;
    color: white;
    font-size: 60px;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.subheading{
    width: 460px;
    font-family: Futura PT custom Mediu;
    color: white;
    font-size: 28px;
    line-height: 30px;

    margin-top: 0px;
    margin-bottom: 0px;
}

.buttonsWrapper{
    width: 460px;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.link{
    width: 220px;
}

.button1{
    width: 220px;
    height: 48px;
    border: 3px solid #031D1E;
    border-radius: 3px;

    color: rgb(3, 29, 30);
    font-size: 24px;
    font-family: Futura PT custom Mediu;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    transition: 300ms;
    cursor: pointer;

    box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.2)
}

.button1:hover{
    background-color: #031D1E;
    color: white;
    border: 3px solid white;
    transition: 300ms;

    box-shadow: 4px 4px 16px rgba(3, 29, 30, 0.3)
}

.button2{
    width: 220px;
    height: 48px;
    border: 3px solid #031D1E;
    border-radius: 3px;
    background-color: #031D1E;

    color: white;
    font-size: 24px;
    font-family: Futura PT custom Mediu;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    transition: 300ms;
    cursor: pointer;

    box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.2)
}

.button2:hover{
    border: 3px solid white;
    transition: 300ms;

    box-shadow: 4px 4px 16px rgba(3, 29, 30, 0.3)
}

.scrollWrapper{
    position: absolute;
    top: calc(100vh - 90px);
    left: calc((100vw - 140px) / 2 );
    width: 140px;
    height: 73px;
    overflow: visible;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; */
    text-align: center;
    transition: 500ms;
}

.scrollWrapperHide{
    position: absolute;
    top: 85vh;
    width: inherit;
    height: 73px;
    overflow: visible;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; */
    text-align: center;
    
    display: none;
    transition: 500ms;
}

.scrollText{
    font-family: Futura PT custom Book;
    color: #031D1E;
    font-size: 18px;
    line-height: 18px;
    height: 18px;

    animation: keepTextInPlace 3s infinite;
}

@keyframes mouseMove {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    70% {
        margin-top: -15px;
        opacity: 0.5;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes keepTextInPlace {
    0% {margin-top: 0px;}
    70% {margin-top: 15px;}
    100% {margin-top: 0px;}
}

.mouseImg{
    height: 40px;
    animation: mouseMove 3s infinite;
    /* margin-top: -100px; */
}

.slideButtonsWrapper{
    height: 90px;
    width: 18px;

    position: absolute;
    right: 40px;
    top: 45vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slideButtonInactive{
    height: 18px;
    width: 18px;

    border-radius: 50%;
    border: 2px solid #031D1E;
    box-sizing: border-box;

    cursor: pointer;
    transition: 200ms;
}

.slideButtonInactive:hover{
    background-color: white;
    transition: 200ms;
}

.slideButtonActive{
    height: 18px;
    width: 18px;

    border-radius: 50%;
    border: 2px solid #031D1E;
    box-sizing: border-box;
    background-color: #CD9D2F;
}

@media screen and (max-width: 1080px){
    
    .heroPageContainer{
        width: 528px;
    }
    
    .h1{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    .subheading{
        width: 100%;
    }
    
    .buttonsWrapper{
        width: 100%;
        margin-top: 40px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .link{
        width: 100%;
    }

    .button1{
        width: 100%;
        height: 48px;
    }
    
    .button2{
        width: 100%;
        height: 48px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 528px){
    .heroPageContainer{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: -50px;
        width: auto;
    }
    
    .h1{
        width: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    .subheading{
        width: 100%;
        font-size: 20px;
        line-height: 26px;
    }
    
    .buttonsWrapper{
        width: 100%;
        margin-top: 40px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .button1{
        width: 100%;
        height: 40px;
        font-size: 22px;
    }
    
    .button2{
        width: 100%;
        height: 40px;
        margin-top: 15px;
        font-size: 22px;
    }

    .slideButtonsWrapper{
        height: 90px;
        width: 18px;
    
        position: absolute;
        right: 2px;
        top: 45vh;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}