.wrapper{
    height: auto;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color: white;
    overflow: hidden;
}

.container{
    max-width: 940px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.background1_1{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/mainPage/muzeulClient.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background1_2{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/muzeul2.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background1_3{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/muzeul3.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background1_4{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/muzeul4.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background1_5{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/muzeul5.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background1_6{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/muzeul6.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background1_7{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/muzeul7.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background1_8{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/muzeul8.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background2_1{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/mimi1.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background2_2{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/mimi2.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background2_3{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/mimi3.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background2_4{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/mimi4.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background2_5{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/mimi5.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background3_1{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/ManucBei.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background3_2{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/manucBei2.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background3_3{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/manucBei3.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background3_4{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/manucBei4.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background3_5{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/manucBei5.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background3_6{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/manucBei6.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background5_1{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/rozmarin1.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background5_2{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/rozmarin2.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background5_3{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/rozmarin3.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background5_4{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/rozmarin4.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background6_1{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/kiku1.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background6_2{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/kiku2.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background6_3{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/kiku3.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background6_4{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/kiku4.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background6_5{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/kiku5.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background7_1{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/lumencraft1.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background7_2{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/lumencraft2.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background7_3{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/lumencraft3.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background7_4{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/lumencraft4.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background7_5{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/lumencraft5.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background7_6{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    ),
    url("../../public/proiecte/lumencraft6.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideButtonWrapper{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    cursor: pointer;
}

.slideButtonWrapper:hover{
    background-color: rgb(3, 29, 30, 0.6);
    transition: 300ms;
}

.slideButtonWrapper:active{
    background-color: #031D1E;
}

.arrowButton{
    position: relative;
    width: 60px;
    height: 60px;
}

.secondArrowButton{
    position: relative;
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
}

.projectImgLeft{
    width: 775px;
    height: 516px;

    margin-left: -225px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projectImgRight{
    width: 775px;
    height: 516px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: -225px;
}

.projectRowLeft{
    width: 100%;
    height: 516px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 22px;
}

.projectRowRight{
    width: 100%;
    height: 516px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 22px;
}

.textWrapper{
    /* width: 450px; */
    width: 360px;
}

.h2{
    font-family: Futura PT custom Book;
    font-size: 24px;
    line-height: 24px;
    color: black;
    
    margin-top: 0px;
    margin-bottom: 20px;
}

.subheading{
    font-family: Futura PT custom Light;
    font-size: 20px;
    line-height: 20px;
    color: black;
    
    margin-top: 0px;
    margin-bottom: 20px;
    /* width: 450px; */
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-family: Futura PT custom Book;
    font-size: 20px;
    line-height: 20px;
    color: black;

    width: auto;
    position: relative;
}

.button:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 30px;
    right: 0;
    background: #EDB65C;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
}

.button:hover:after{
    width: 100%;
    left: 0;
    background: #EDB65C;
}

.arrow{
    height: 14px;
    width: 14px;

    margin-left: 6px;
    margin-top: 2px;
}


@media screen and (max-width: 940px){

    .wrapper{
        height: auto;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 0px;
    
        background-color: white;
        overflow: hidden;
    }
    
    .container{
        max-width: 528px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .projectImgLeft{
        width: 100%;
        /* height: 516px; */
        height: 300px;
    
        margin-left: 0px;
    }
    
    .projectImgRight{
        width: 100%;
        /* height: 516px; */
        height: 300px;
    
        margin-right: 0px;
    }
    
    .projectRowLeft{
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    
        margin-bottom: 90px;
    }

    .projectRowRight{
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        margin-bottom: 90px;
    }
    
    .textWrapper{
        width: 100%;
        margin-bottom: 30px;
    }
    

}

@media screen and (max-width: 528px){

    .wrapper{
        height: auto;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 0px;
    
        background-color: white;
        overflow: hidden;
    }
    
    .container{
        max-width: 100%;
        height: auto;
        margin-left: 16px;
        margin-right: 16px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .slideButtonWrapper{
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: 300ms;
        cursor: pointer;
    }
    
    .slideButtonWrapper:hover{
        background-color: rgb(3, 29, 30, 0.6);
        transition: 300ms;
    }
    
    .slideButtonWrapper:active{
        background-color: #031D1E;
    }
    
    .arrowButton{
        height: 40px;
        width: 40px;
    }
    
    .secondArrowButton{
        height: 40px;
        width: 40px;
        transform: rotate(180deg);
    }
    
    .projectImgLeft{
        width: 100%;
        /* height: 516px; */
        height: 250px;
    
        margin-left: 0px;
    }
    
    .projectImgRight{
        width: 100%;
        /* height: 516px; */
        height: 250px;
    
        margin-right: 0px;
    }
    
    .projectRowLeft{
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    
        margin-bottom: 90px;
    }

    .projectRowRight{
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        margin-bottom: 90px;
    }
    
    .textWrapper{
        width: 100%;
        margin-bottom: 30px;
    }
    
}