body{
    margin: 0px;
}

#navBar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

@font-face {
    font-family: 'Futura PT custom Mediu2';
    src: url('/fonts/subset-FuturaPT-Medium.woff2') format('woff2'),
        url('/fonts/subset-FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT custom Demi2';
    src: url('/fonts/subset-FuturaPT-Demi.woff2') format('woff2'),
        url('/fonts/subset-FuturaPT-Demi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT custom Book2';
    src: url('/fonts/subset-FuturaPT-Book.woff2') format('woff2'),
        url('/fonts/subset-FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT custom Light2';
    src: url('/fonts/subset-FuturaPT-Light.woff2') format('woff2'),
        url('/fonts/subset-FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT custom Demi';
    src: url('/fonts/FuturaNewDemi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT custom Mediu';
    src: url('/fonts/FuturaNewMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT custom Book';
    src: url('/fonts/FuturaNewBook.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT custom Light';
    src: url('/fonts/FuturaNewLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.slick-slider img.projects { 
    width: auto;     
    height: 700px;
    object-fit: cover;
}

.slick-slider img.hero { 
    width: auto;     
    height: 100vh;
    object-fit: cover;
}

.slick-prev {
    left: 0px;
    z-index: 10;
}

.slick-next {
    right: 0px;
    z-index: 10;
}

.slick-dots {
    bottom: 0px;
    z-index: 10;
    padding-bottom: 40px;
}

.slick-dots li {
    width: 40px;
    height: 2px;
}

.slick-dots li button {
    width: 40px;
    height: 2px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.slick-dots li.slick-active button {
    background-color: rgba(255, 255, 255, 1);
}

.slick-dots li ::before {
    display: none
}

@media screen and (max-width: 1080px){
    .slick-slider img.hero { 
        height: 80vh;
    }    
}